Newspaper/xml/Article.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="Article" nillable="true" type="Article" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" xmlns:q1="http://microsoft.com/wsdl/types/" type="q1:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorId" xmlns:q2="http://microsoft.com/wsdl/types/" type="q2:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="ArrayOfComment" />
      <xs:element minOccurs="0" maxOccurs="1" name="Grades" type="ArrayOfGrade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CommentId" xmlns:q3="http://microsoft.com/wsdl/types/" type="q3:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" xmlns:q4="http://microsoft.com/wsdl/types/" type="q4:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grade" nillable="true" type="Grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Grade">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GradeId" xmlns:q5="http://microsoft.com/wsdl/types/" type="q5:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" xmlns:q6="http://microsoft.com/wsdl/types/" type="q6:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorId" xmlns:q7="http://microsoft.com/wsdl/types/" type="q7:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema><?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:tns="http://microsoft.com/wsdl/types/" elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>