LB2.ParserDemo/xml/Article.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Article" nillable="true" type="Article" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="ArrayOfComment" />
      <xs:element minOccurs="0" maxOccurs="1" name="Grades" type="ArrayOfGrade" />
      <xs:element minOccurs="0" maxOccurs="1" name="Author" type="Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CommentId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Body" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grade" nillable="true" type="Grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Grade">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GradeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>